.addMore_checkout{
    float:right;
    right: 31.25%; 
    margin-top: 5px;
    position: relative;
}

.checkout_grid {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    top: 50px;
    text-align: center;
}

  .final_cart_table{
    display: grid;
    grid-template-columns: 60% 25% 15%;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    width: 50%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    top: 50px;
    box-shadow: 3px 2px 5px #bebebe;

}

.final_cart_title{
    background-color: white;
    font-size: 200%;
    color: #ff5e00;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}

  .final_cart_table div {
      border-left: 2px solid grey;
      border-bottom: 2px solid grey;
      height: 40px;
      line-height: 40px;
      background-color:white;
  }
  
  #main_checkout {
      margin-left: 0px !important;
    }

    .EnterCheckOut{
        margin-top: 30px;
        width: 50%;
        border: 2px solid grey;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        height: 50px;
        font-size: 150%;
        box-shadow: 3px 2px 5px #bebebe;
    }
    .EnterCheckOut input{
        width: 50%;
        height: 100%;
        border: none;
    }
    .placeOrder{
        width: 30%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        font-size: 150%;
        box-shadow: 3px 2px 5px #bebebe;
    }

.final-text {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(250, 29, 0);
}

.your-total {
    text-align: right;
    margin-top: 15px;
    width: 50%;
    justify-content: center;
    justify-self: ;
    color: #ff5e00;
}