
.cart{
  text-align: center;
  
}
.cart_title {
  display: inline-block;
  padding: 10px;
  background: none;
  color: var(--primary-color);
  font-weight: bold;
  border: none;
  width: 100%;
  text-align: center;
}

.cart_table{
border-collapse: collapse;
width: 90%;
margin-left: 5%;
}

.cart_table th 
{
  color: var(--primary-color);
}

.cart_table td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.cart_count {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cart_count p {
  margin: 0 8px;
}

.cart_count i:hover {
  text-shadow: rgba(0,0,0,0.8) 0 0 10px;
  font-size: 105%;
}

.add_remove_item {
  padding: 3px 4px;
  border-radius: 5px;
}
.cart_table tr:nth-child(even) {
  background-color: #dddddd;
}

.restaurant-info{
  width: 100%;
  display: grid;
  gap: 20px;
  justify-content: left;
  grid-template-columns:25% 70%;
  margin-bottom: 10px;
}

.special_img{
  width: 100%; 
  margin: 20px;
  border-radius: 5px;
}

.restaurant-description{
  background-color: white;
  margin-left: 10px;
  margin-right: 0px;
  position: relative;
  border-radius: 5px;
  width: 100%;
}

.restaurant-description h1{
  position: relative;
  margin: 5px;
  text-align: center;
  background-color: lightgrey;
}

.rest_information{
  display: grid;
  grid-template-columns: auto auto;
}

.rest_information h2{
  color: var(--primary-color);
  text-align: center;
}

.grid-hoursOfOperation{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 2px;
  text-align: center;
}

.contact_restaurant {
  position: relative;
  text-align:center;
}

.menu-options{
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10%);
  justify-content: center;
  gap: 50px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 190px;
}

.menu-options div {
  justify-self: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  background-color: var(--primary-color);
  color: white;
  width: 100px;
  height: 30px;
  line-height: 30px;
}

.menu-options div:hover {
  font-weight: bold;
  box-shadow:  0 5px 10px rgba(0, 0, 0, 1.0);
}

.menu{
  grid-template-columns: 8% 60% 10% 7% 7%;
  display: grid;
  margin-top: 5px;
  margin-left: 5px;
  gap: 10px; 
  justify-content: center;
}

.menu_item_image{
  background-color: transparent;
  border-radius: 5px; 
  text-align: center;
}

.menu_item_image * {
  width: 100px;
  height: 100px;
}

.menu_image{
  padding: 3px;
  vertical-align: middle;
  border-radius: 10px;
  width: 100%;
}

.menu_item_background {
  padding: 2px;
  border: 3px black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display : flex;
  align-items : center;
  justify-content: center;
  text-align: center;
}

.menu_item_background .add-button
{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size:300%;
}


.menu_item_background button:hover{
  color: black;
  font-size: 400%;
  text-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.logoImg {
  border-radius: 50%;
}

.cart-total {
  margin-right: 5%;
  text-align: right;
}

.special_img_background {
  width: 300px;
}

.special_img_background * {
  width: 300px;
  height: 300px;
}